In [16]:
import pickle
with open ('corpus.pkl','rb') as cps:
    corpus=pickle.load(cps)

In [17]:
with open ('y.pkl','rb') as op:
    y=pickle.load(op)

In [18]:
len(corpus),len(y)

(1847913, 1847913)

In [19]:
type(corpus),type(y)

(list, list)

In [20]:
corpus[1231941]

'enjoy movie love paint hispanic culture like message family value center around main character actors lackluster sometimes find force comedy however like storyline character developments recommend'

In [21]:
y[1231941]

1

In [22]:
import pandas as pd
data={
    'review':corpus,
    'rating':y
}
df=pd.DataFrame(data)

In [23]:
df.head()

                                              review  rating
0  great move bite slower first xmen definitely w...       1
1                                love one favs seris       1
2  whoa good one plot move character believable v...       1
3  extremely worthy addition batman franchise det...       1
4                                 also one favorites       1

In [24]:
new_df=df.sample(frac=0.5).reset_index()
new_df.head(100)

      index                                             review  rating
0   1211560                                         best three       1
1     85944  whatever say movie awesome one movies save dce...       1
2    622670  great film definatley worth money see theater ...       1
3    613209  intense point discomfort joker way disturb ima...       1
4   1247429                            remember see movie okay       0
..      ...                                                ...     ...
95   822123      love hellboy sweet movie love every thing one       1
96    56970                            nemo little bite better       1
97   238313  love movie captain marvel one favorite movies ...       1
98   344640                                 first one good one       1
99  1176361  either cut film great donner cut original anot...       1

[100 rows x 3 columns]

In [25]:
new_df=new_df.drop(columns=['index'])

In [26]:
new_df.head()

                                              review  rating
0                                         best three       1
1  whatever say movie awesome one movies save dce...       1
2  great film definatley worth money see theater ...       1
3  intense point discomfort joker way disturb ima...       1
4                            remember see movie okay       0

In [27]:
x=new_df['review']
y=new_df['rating']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer(max_features=500,ngram_range=(1,1))
x_train=tfidf.fit_transform(x_train).toarray()
x_test=tfidf.transform(x_test).toarray()

In [28]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((739164, 500), (184792, 500), (739164,), (184792,))

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score,confusion_matrix, classification_report,ConfusionMatrixDisplay,precision_score, recall_score, f1_score, roc_auc_score,roc_curve
models={
    "Logisitic Regression":LogisticRegression(),
    "Random forest classifier":RandomForestClassifier(),
    "Decision tree":DecisionTreeClassifier(),
    "gradient boost":GradientBoostingClassifier(),
    "Support vector machine":SVC(),
    "knearest neighbours":KNeighborsClassifier(),
#    "Naive bias":naive_bayes()
}   
def report(models):

    for i in range(len(list(models))):
        model = list(models.values())[i]
        model.fit(x_train, y_train) # Train model

        # Make predictions
        y_train_pred = model.predict(x_train)
        y_test_pred = model.predict(x_test)

        # Training set performance
        model_train_accuracy = accuracy_score(y_train, y_train_pred) # Calculate Accuracy
        model_train_f1 = f1_score(y_train, y_train_pred, average='weighted') # Calculate F1-score
        model_train_precision = precision_score(y_train, y_train_pred) # Calculate Precision
        model_train_recall = recall_score(y_train, y_train_pred) # Calculate Recall
        model_train_rocauc_score = roc_auc_score(y_train, y_train_pred)
        model_train_confusion_matrix=confusion_matrix(y_train, y_train_pred)


        # Test set performance
        model_test_accuracy = accuracy_score(y_test, y_test_pred) # Calculate Accuracy
        model_test_f1 = f1_score(y_test, y_test_pred, average='weighted') # Calculate F1-score
        model_test_precision = precision_score(y_test, y_test_pred) # Calculate Precision
        model_test_recall = recall_score(y_test, y_test_pred) # Calculate Recall
        model_test_rocauc_score = roc_auc_score(y_test, y_test_pred) #Calculate Roc
        model_test_confusion_matrix=confusion_matrix(y_test, y_test_pred)


        print(list(models.keys())[i])
        
        print('Model performance for Training set')
        print("- Accuracy: {:.4f}".format(model_train_accuracy))
        print('- F1 score: {:.4f}'.format(model_train_f1))
        
        print('- Precision: {:.4f}'.format(model_train_precision))
        print('- Recall: {:.4f}'.format(model_train_recall))
        print('- Roc Auc Score: {:.4f}'.format(model_train_rocauc_score))
        print('- confusion matrix:\n{}'.format(model_train_confusion_matrix))

        
        
        print('----------------------------------')
        
        print('Model performance for Test set')
        print('- Accuracy: {:.4f}'.format(model_test_accuracy))
        print('- F1 score: {:.4f}'.format(model_test_f1))
        print('- Precision: {:.4f}'.format(model_test_precision))
        print('- Recall: {:.4f}'.format(model_test_recall))
        print('- Roc Auc Score: {:.4f}'.format(model_test_rocauc_score))
        print('- confusion matrix:\n{}'.format(model_test_confusion_matrix))
        
        print('='*35)
        print('\n')

In [ ]:
report(models)